<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>添加商品</title>
#parse("common/common.html")
</head>
<body>

	<div class="demo-info">
		<div class="demo-tip icon-tip"></div>
		<div>商品列表</div>
	</div>
	<div style="margin:10px 0;"></div>
	<div style="padding: 5px">
		<a href="$path/product/toProductAdd.do" class="easyui-linkbutton" >添加商品</a> 
	</div>
	<div style="margin:10px 0;"></div>
	<table id="dg" title="商品列表" style="width:700px;height:300px" data-options="
				rownumbers:true,
				singleSelect:true,
				autoRowHeight:false,
				pagination:true,
				pageSize:10">
		<thead>
			<tr>
				<th field="name" width="80">商品名称</th>
				<th field="num" width="80">商品库存</th>
				<th field="type" width="80">商品列别</th>
				<th field="price" width="80" align="right">商品价格</th>
				<th field="note" width="110">商品简介</th>
				<th field="operation" width="200">操作</th>
			</tr>
		</thead>
	</table>
</body>
</html>
<script>
		function getData(){
			var rows = [];
			for(var i=1; i<=800; i++){
				var amount = Math.floor(Math.random()*1000);
				rows.push({
					name: '商品 '+i,
					num: amount,
					type: '玉器',
					price: amount,
					note: '商品简介',
					operation: '<a href="#">查看</a>&nbsp;<a href="#">修改</a>&nbsp;<a href="#">上架</a>&nbsp;<a href="#">下架</a>&nbsp;<a href="#">删除</a>'
				});
			}
			return rows;
		}
		
		function pagerFilter(data){
			if (typeof data.length == 'number' && typeof data.splice == 'function'){	// is array
				data = {
					total: data.length,
					rows: data
				}
			}
			var dg = $(this);
			var opts = dg.datagrid('options');
			var pager = dg.datagrid('getPager');
			pager.pagination({
				onSelectPage:function(pageNum, pageSize){
					opts.pageNumber = pageNum;
					opts.pageSize = pageSize;
					pager.pagination('refresh',{
						pageNumber:pageNum,
						pageSize:pageSize
					});
					dg.datagrid('loadData',data);
				}
			});
			if (!data.originalRows){
				data.originalRows = (data.rows);
			}
			var start = (opts.pageNumber-1)*parseInt(opts.pageSize);
			var end = start + parseInt(opts.pageSize);
			data.rows = (data.originalRows.slice(start, end));
			return data;
		}
		
		$(function(){
			$('#dg').datagrid({loadFilter:pagerFilter}).datagrid('loadData', getData());
		});
	</script>