<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.culturemall.art.business.user.dao.UserDao">

	<insert id="save" useGeneratedKeys="true" keyProperty="user_id">
		insert into users (login_name, password, nickname, real_name, sex) values (#{login_name}, #{password}, #{nickname}, #{real_name}, #{sex})
	</insert>
	
	<delete id="deleteById" parameterType="long">
		delete from users where user_id = #{user_id}
	</delete>
	
	<update id="update">
		update users
		<set>
			<if test="login_name != null">login_name = #{login_name},</if>
			<if test="password != null">password = #{password},</if>
			<if test="nickname != null">nickname = #{nickname},</if>
			<if test="password != null">real_name = #{real_name},</if>
			<if test="sex != null">sex = #{sex},</if>
		</set>
		where user_id = #{user_id}
	</update>
	
	<select id="findById" parameterType="long" resultType="User">
		select * from users where user_id = #{user_id}
	</select>
	
	<select id="findUsersCountLikeNickname" resultType="int">
		select count(1) from users where <include refid="findUsersLikeNicknameSql"/>
	</select>
	
	<select id="findUsersLikeNickname" resultType="User">
		select * from users where <include refid="findUsersLikeNicknameSql"/>
		LIMIT #{startRow}, #{onePageSize}
	</select>
	
	<sql id="findUsersLikeNicknameSql">
		nickname like concat('%', #{nickname}, '%')
	</sql>

</mapper>