<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.culturemall.art.business.dao.merchant.MerchantDao">

	<insert id="save" useGeneratedKeys="true" keyProperty="merchant_id">
		insert into merchant (club_id, nickname, login_name, password, real_name, telephone, mobile_phone, emall, identity_card, sex) values (#{club_id}, #{nickname}, #{login_name}, #{password}, #{real_name}, #{telephone}, #{mobile_phone}, #{emall}, #{identity_card}, #{sex})
	</insert>
	
	<delete id="deleteById" parameterType="long">
		delete from merchant where merchant_id = #{merchant_id}
	</delete>
	
	<update id="update">
		update merchant
		<set>
			<if test="club_id != null">club_id = #{club_id},</if>
			<if test="nickname != null">nickname = #{nickname},</if>
			<if test="login_name != null">login_name = #{login_name},</if>
			<if test="password != null">password = #{password},</if>
			<if test="real_name != null">real_name = #{real_name},</if>
			<if test="telephone != null">telephone = #{telephone},</if>
			<if test="mobile_phone != null">mobile_phone = #{mobile_phone},</if>
			<if test="emall != null">emall = #{emall},</if>
			<if test="identity_card != null">identity_card = #{identity_card},</if>
			<if test="sex != null">sex = #{sex},</if>
		</set>
		where merchant_id = #{merchant_id}
	</update>
	
	<select id="findById" parameterType="long" resultType="Merchant">
		select * from merchant where merchant_id = #{merchant_id}
	</select>

</mapper>